<div id="membership-container">
	<div class="c3">
		<h2 class="big-title">Connectez-vous</h2>

		<form [formGroup]="form" (ngSubmit)="signin()">
			<md-input-container >
				<input mdInput class="big-form" required formControlName="pseudo" placeholder="Pseudo ou e-mail" [(ngModel)]="newUser.email"/>
				<md-hint *ngIf="!pseudo.untouched && !pseudo.valid && pseudo.errors.required" [ngStyle]="{'color': 'red'}" align="start" style="right: 0;">pseudo ou e-mail est requis</md-hint>
				<md-hint *ngIf="!pseudo.untouched && !pseudo.valid && pseudo.errors.minlength" [ngStyle]="{'color': 'red'}" align="start" style="right: 0;">3 caractères minimum</md-hint>
			</md-input-container>
			<br class="only-responsive"/>
			<md-input-container >
				<input mdInput class="big-form" required formControlName="password" placeholder="Mot de passe" type="password" [(ngModel)]="newUser.password"/>
				<md-hint *ngIf="!password.untouched && !password.valid && password.errors.required" [ngStyle]="{'color': 'red'}" align="start" style="right: 0;">mot de passe requis</md-hint>
				<md-hint *ngIf="!password.untouched && !password.valid && password.errors.minlength" [ngStyle]="{'color': 'red'}" align="start" style="right: 0;">3 caractères minimum</md-hint>
			</md-input-container>
			<br class="only-responsive"/>
			<button md-mini-fab><md-icon>check</md-icon></button>
		</form>
	</div>
	<div class="c3" style="text-align:center;">
		<h2 class="separator">/</h2>
	</div>
	<div class="c3">
		<h2 class="big-title">Inscrivez-vous</h2>

		<a href="/compte/inscription.html" class="signup-button big-icon"><button md-mini-fab><md-icon>add</md-icon></button></a>
	</div>
	<div class="clear"></div>
</div>