@import '../../../../assets/styles/typography';
@import '../../../../assets/styles/variable';

#membership-container .c3{
	display: inline-block;
	vertical-align: middle;
	width: 32%;
	margin: 0 1%;
	height: 400px;

	&:nth-child(1n){
		margin: 0;
	}

	&:nth-child(3n){
		margin: 0;
	}

	h2.big-title{
		font-family: $fontTravelTitle;
		font-weight: normal;
		font-size: 40px;
		margin-bottom: 12%;
	}

	.big-icon{
		text-align: center;
		font-size: 200px;
		color: $cutColor;
	}

	.separator{
		color: $mainColor;
		text-align: center;
		font-size: 200px;
		
		margin: 0;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}

	mat-input-container {
		width: 80%;
		height: 60px;
		font-size: 24px;
		margin: auto;
		display: block;
	}

	a.signup-button{
		display: block;
		padding-top: 10%;
	}

	button{
		color: $fontColor;
		display: block;
		margin: auto;
		width: 60px;
		height: 60px;
	}

	[mat-mini-fab] i, [mat-mini-fab] mat-icon {
		line-height: 32px;
	}
}

@media screen and (max-width: 950px) {
	#membership-container .c3{
		display: block;
		width: 95%;
		height: auto;

		.separator{
			display: none;
		}

		h2.big-title{
			font-size: 30px;
			margin-bottom: 5%;
		}

		a.signup-button{
			padding: 0;
		}
	}
}