@import '../../../../assets/styles/typography';
@import '../../../../assets/styles/variable';

[md-raised-button] {
    float: right;
}

md-input-container {
    width: 100% !important;
}

md-spinner {
    display: block;
    margin: auto;
    width: 40px;
    height: 40px;
}

h2, h3 {
    font-family: $fontTravelTitle;
    font-weight: normal;
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

.mat-mini-fab {
    width: 36px;
    height: 36px;

    .mat-icon, i {
        line-height: 20px;
        height: 20px;
        width: 20px;
        font-size: 20px !important;
    }
}

md-nav-list{
    md-icon.mat-list-avatar{
        color: $mainColor;
    }

        span {
            color: $mainColor;
        }
}