<div class="md-padding" style="overflow: auto;" [style.max-height]="screenHeight + 'px'">
	<h2>Vous-êtes plusieurs à participer ?</h2>
	<h3>Invitez d'autres utilisateurs à contribuer à votre voyage !</h3>
	<br/>
	<form name="userForm" [formGroup]="form">
		<md-input-container>
			<input #search mdInput type="text" class="big-form" placeholder="Nom ou e-mail de l'utilisateur" formControlName="search"
			 [(ngModel)]="searchText" flex/>
		</md-input-container>
	</form>

	<md-nav-list flex style="max-height:200px;overflow:auto;">
		<md-list-item class="md-2-line" *ngFor="let user of users | SearchUserPipe: searchText" role="link">
			<md-icon md-list-avatar style="color:#3f51b5; width: initial;height:initial;">face</md-icon>
			<p md-line href="">{{user.name}} - <i>{{anonymizeStart(user.email)}}<span style="color:#3f51b5">{{anonymizeMiddle(user.email)}}</span>{{anonymizeEnd(user.email)}}</i></p>

			<button md-mini-fab *ngIf="userAlreadyExists(user.id)" (click)="addUserInItinerary(user.id)"><md-icon>check</md-icon></button>
			<button md-mini-fab *ngIf="!userAlreadyExists(user.id)" (click)="removeUserInItinerary(user.id)" class="gray"><md-icon>delete</md-icon></button>
		</md-list-item>
		<md-list-item *ngIf="(users | SearchUserPipe: searchText) == null || (users | SearchUserPipe: searchText).length === 0">
			<p md-line href="javascript: void(0);">Aucun résultat...</p>
		</md-list-item>
	</md-nav-list>
</div>