<input #fileInput id="fileInput" name="uploads" type="file" class="ng-hide" multiple (change)="uploadChange($event)">
<button md-raised-button #uploadButton id="uploadButton" (click)="triggerUpload($event)">Photos</button>

<md-input-container md-no-float>
	<input mdInput #textInput id="textInput" ng-model="fileName" type="text" placeholder="Aucun fichier ajouté" ng-readonly="true"
		(click)="triggerUpload($event)">
</md-input-container>

<br/>
<md-spinner *ngIf="isLoading"></md-spinner>
<br/>

<md-list>
	<md-list-item *ngFor="let image of images">
		<img md-list-avatar src="{{image.url}}" alt="Image uploadée">
		<h3 md-line>
			<md-input-container md-no-float>
				<input mdInput #captionImage id="captionImage" [(ngModel)]="image.caption" type="text" placeholder="Légende de la photo" >
			</md-input-container>
		</h3>

		<p md-line>
			<span> {{image.date}} </span>
		</p>
		<div>
			<md-icon class="little-icon" (click)="removePicture(image.id)">delete</md-icon>
		</div>
	</md-list-item>
</md-list>