md-input-container{
    width: 49% !important;
}
textarea{
    width: 100%;
}
[md-raised-button]{
    float: right;
}
md-spinner{
    display: block;
    margin: auto;
    width: 40px;
    height: 40px;
}