<div class="md-padding">
	<form name="userForm" [formGroup]="form" (ngSubmit)="registerItinerary()">
		<div layout layout-sm="column">
			<md-input-container flex>
				<input mdInput class="big-form" placeholder="Nom de l'itinéraire" formControlName="name" [(ngModel)]="newItinerary.name" required/>
				<md-hint *ngIf="!name.untouched && !name.valid && name.errors.required" [ngStyle]="{'color': 'red'}" align="start" style="right: 0;">nom requis</md-hint>
				<md-hint *ngIf="!name.untouched && !name.valid && name.errors.minlength" [ngStyle]="{'color': 'red'}" align="start" style="right: 0;">3 caractères minimum</md-hint>
			</md-input-container>
			<md-input-container flex>
				<input mdInput #search class="big-form" placeholder="Pays principal" formControlName="country" [(ngModel)]="newItinerary.country" required autocorrect="off" autocapitalize="off" spellcheck="off" class="form-control"/>
				<md-hint *ngIf="!country.untouched && !country.valid && country.errors.required" [ngStyle]="{'color': 'red'}" align="start" style="right: 0;">pays requis</md-hint>
			</md-input-container>
		</div>
		<md-input-container flex style="width: 100% !important;">
			<textarea mdInput class="big-form" placeholder="Description du voyage" formControlName="description" [(ngModel)]="newItinerary.description" required></textarea>
			<md-hint *ngIf="!description.untouched && !description.valid && description.errors.required" [ngStyle]="{'color': 'red'}" align="start" style="right: 0;">description requise</md-hint>
			<md-hint *ngIf="!description.untouched && !description.valid && description.errors.minlength" [ngStyle]="{'color': 'red'}" align="start" style="right: 0;">3 caractères minimum</md-hint>
		</md-input-container>
		<br/>
		<md-spinner *ngIf="isLoading"></md-spinner>
		<br/>
		<button md-raised-button>VALIDER</button>
	</form>
</div>

