<div id="iw-container">
	<div class="main-img-container">
		<img src="{{mainPictureUrl}}" alt="{{mainPictureCaption}}" />
	</div>
	<div class="iw-title">
		{{title}}
		<br/>
		<i class="iw-subTitle">Le {{date}}</i>
	</div>
	<div class="iw-content">
		<md-tab-group (selectChange)="toggleIsSumUp()">
			<md-tab label="Résumé">
				{{description}}
				<br/>
				<br/>
			</md-tab>
			<md-tab label="Logistique">
				<p>coucou balbalbla</p>
			</md-tab>
		</md-tab-group>

		<div class="iw-footer" *ngIf="isTherePictures">
			<a href="{{mainPictureUrl}}" data-lightbox="image" data-title="{{mainPictureCaption}}">Voir les photos</a>
		</div>
		<div>
			<ul style="padding: 0;">
				<li *ngFor="let picture of pictures">
					<a href="{{serviceUrl + '/' + picture.url}}" data-lightbox="image" data-title="{{picture.caption}}" *ngIf="picture.url != pictures[0].url">
						<img class="ui bordered small image" src="{{serviceUrl + '/' + picture.url}}" alt="{{picture.caption}}" title="{{picture.caption}}" />
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="iw-bottom-gradient"></div>
</div>
