<div id="iw-container">
	<div class="main-img-container">
		<img src="mainPicture" alt="" />
	</div>
	<div class="iw-title">
		city
		<br/>
		<i class="iw-subTitle">Le date</i>
	</div>
	<div class="iw-content">
		<md-tab-group eventToPut>
			<md-tab label="Résumé">
				description
				<br/>
				<br/>
			</md-tab>
			<md-tab label="Logistique">
				astuces
			</md-tab>
		</md-tab-group>

		<div class="iw-footer">
			seePicturesLink
		</div>
		<div>pictures</div>
	</div>
	<div class="iw-bottom-gradient"></div>
</div>
