<md-toolbar color="primary">
	<button md-icon-button (click)="start.toggle()">
        <md-icon>menu</md-icon>
    </button> &nbsp; &nbsp;
	<span>Itineraris</span>
</md-toolbar>

<md-sidenav-container class="left-navigation" #container>
	<md-sidenav #start mode="side" opened="false">
		<div class="myself">
			<span flex=""></span>
			<div layout="row" layout-align="start center">
				<md-icon class="md-avatar ng-isolate-scope md-default-theme">face</md-icon>
				<span flex=""></span>
			</div>
			<span flex=""></span>
			<div class="md-body-2">{{currentUser.pseudo}}</div>
			<div class="md-body-1">{{currentUser.email}}</div>
		</div>

		<md-nav-list>
			<md-list-item>
				<md-icon md-list-avatar aria-label="Créer un itinéraire">add</md-icon>
				<a md-line href="javascript: void(0);" (click)="openDialog()">Créer un itinéraire</a>
			</md-list-item>
			<md-list-item>
				<md-icon md-list-avatar aria-label="Voir les itinéraires">remove_red_eye</md-icon>
				<a md-line href="javascript: void(0);" (click)="next.toggle()">Voir les itinéraires</a>
			</md-list-item>
		</md-nav-list>
	</md-sidenav>

	<md-sidenav-container class="left-navigation">
		<md-sidenav #next mode="side" opened="false" layout="column" layout-fill class="md-sidenav-left md-sidenav-list" md-component-id="nav">
			<md-toolbar class="md-whiteframe-z1" ng-class="{'md-hue-1':showSearch}">
				<div class="md-toolbar-tools">
					<h3 *ngIf="!showSearch">
						Vos itinéraires
					</h3>
					<md-input-container *ngIf="showSearch">
						<input mdInput md-theme="input" [(ngModel)]="search" style="color: white;" placeholder="nom de l'itinéraire"/>
					</md-input-container>
					<span flex *ngIf="!showSearch"></span>

					<md-icon *ngIf="!showSearch" aria-label="Search" (click)="toggleSearch()">search</md-icon>
					<md-icon *ngIf="showSearch" aria-label="Back" (click)="toggleSearch()">arrow_back</md-icon>
				</div>
			</md-toolbar>
			<md-nav-list flex>
				<md-list-item class="md-2-line" *ngFor="let itinerary of itineraries | SearchPipe : search" role="link">
					<md-icon md-list-avatar aria-label="{{itinerary.name}}">airplanemode_active</md-icon>
					<a md-line href="javascript: void(0);" (click)="goToItinerary(itinerary.name, itinerary.id)"><b>{{itinerary.name}}</b></a>
					<a md-line href="javascript: void(0);" (click)="goToItinerary(itinerary.name, itinerary.id)">{{itinerary.description}}</a>

					<div>
						<md-icon class="little-icon" (click)="editItinerary(itinerary.id)">mode_edit</md-icon>
						<br/>
						<md-icon class="little-icon" (click)="removeItinerary(itinerary.id)">delete</md-icon>
					</div>
				</md-list-item>
			</md-nav-list>
		</md-sidenav>

		<div class="dashboard-home-content">
			<h1 class="big-title">Bienvenue sur votre Dashboard.<br/><br/>Vous pouvez ici créer vos itinéraires de voyage !</h1>
		</div>
	</md-sidenav-container>
</md-sidenav-container>