#membership-container h1.big-title{
	font-family: roboto;
	font-weight: normal;
	font-size: 40px;
	margin-bottom: 5%;
}

#membership-container md-input {
	width: 80%;
    height: 60px;
    font-size: 30px;
	margin: auto;
	display: block;
}

#membership-container button{
	color: white;
	display: block;
	margin: auto;
	width: 60px;
    height: 60px;
}

	#membership-container [md-mini-fab] i, #membership-container [md-mini-fab] md-icon {
		line-height: 32px;
	}