@import '../../../../assets/styles/typography';
@import '../../../../assets/styles/variable';

.mat-padding {
    width: 90%;
    text-align: center;
    margin: 2.5% auto;
}

mat-sidenav-container {
    height: calc(100% - 64px);
    padding-bottom: 5%;
}

mat-icon {
    width: initial !important;
    height: initial !important;
}

#membership-container {
	h1.big-title{
		margin-bottom: 5%;
	}

	mat-input-container {
		width: 80%;
		height: 60px;
		font-size: 24px;
		margin: auto;
		display: block;
	}

	button{
		color: $fontColor;
		display: block;
		margin: auto;
		width: 60px;
		height: 60px;
	}

	[mat-mini-fab] i, [mat-mini-fab] mat-icon {
		line-height: 32px;
	}
}

mat-spinner{
    display: block;
    margin: auto;
    width: 40px;
    height: 40px;
}
