
md-input {
	width: 80%;
    height: 60px;
    font-size: 30px;
	margin: auto;
	display: block;
}
button{
	color: white;
	display: block;
	margin: auto;
	width: 60px;
    height: 60px;
}
[md-mini-fab] i, [md-mini-fab] md-icon {
    line-height: 32px;
}
.button i{
	transition: all 0.3s linear;
	border-radius: 3px;
}
.button i:hover{
	box-shadow: inset 2px 2px 4px rgba(0,0,0,0.6);
	background-color: rgba(255,255,255,0.3);
}