/*agm-map {
  height: 100%;
  width: 100%;
}*/

.webp .big-container{
  background: transparent url(../assets/bg.webp) center center no-repeat;
}
.no-webp .big-container{
  background: transparent url(../assets/bg.png) center center no-repeat;
}
.big-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-size: cover;
  background-attachment: fixed;
}

#grayback{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255,255,255, 0.8);
}
