<div class="md-padding">
	<form name="userForm" [formGroup]="form" (ngSubmit)="registerStep($event)">
		<div layout layout-sm="column">
			<md-input-container>
				<input mdInput class="big-form" placeholder="Ville de l'étape" formControlName="city" [(ngModel)]="newStep.city" required flex autocorrect="off" autocapitalize="off" spellcheck="off" class="form-control" #search />
				<md-hint *ngIf="!city.untouched && !city.valid && city.errors.required" [ngStyle]="{'color': 'red'}" align="start" style="right: 0;">ville requise</md-hint>
				<md-hint *ngIf="!city.untouched && !city.valid && city.errors.minlength" [ngStyle]="{'color': 'red'}" align="start" style="right: 0;">2 caractères minimum</md-hint>
			</md-input-container>
			<md-input-container>
				<input mdInput class="big-form" placeholder="Date de l'étape" formControlName="date" [(ngModel)]="newStep.date" required flex/>
				<md-hint *ngIf="!date.untouched && !date.valid && date.errors.required" [ngStyle]="{'color': 'red'}" align="start" style="right: 0;">date requise</md-hint>
			</md-input-container>
		</div>
		<md-input-container style="width:100% !important;" >
			<textarea mdInput class="big-form" placeholder="Description de l'étape" formControlName="description" [(ngModel)]="newStep.description" required flex></textarea>
			<md-hint *ngIf="!description.untouched && !description.valid && description.errors.required" [ngStyle]="{'color': 'red'}" align="start" style="right: 0;">description requise</md-hint>
			<md-hint *ngIf="!description.untouched && !description.valid && description.errors.minlength" [ngStyle]="{'color': 'red'}" align="start" style="right: 0;">3 caractères minimum</md-hint>
		</md-input-container>
		<br/>
		<br/>
		<button md-raised-button>VALIDER</button>
	</form>
</div>

