<sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
	<sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
</sebm-google-map>
<div id="grayback">
	<div id="membership-container">
		<div class="c3">
			<md-input class="big-form" dividerColor="teal" placeholder="Pseudo ou e-mail"></md-input>
			<br/>
			<md-input class="big-form" dividerColor="teal" placeholder="Mot de passe"></md-input>
			<br/>
			<button md-mini-fab><md-icon>check</md-icon></button>
		</div>
		<div class="c3" style="text-align:center;">
			<h2 class="big-title">/</h2>
		</div>
		<div class="c3 big-icon">
			<i class="material-icons big-icon">add</i>
		</div>
		<div class="clear"></div>
	</div>
</div>
