@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import './assets/styles/typography';
@import './assets/styles/variable';
@import './assets/styles/structure';
@import './assets/styles/maps';

app-root .tempDiv {
	width: 100%;
	height: 100%;
	background: $fontColor;
	text-align: center;
}

app-user-dashboard {
	height: 100%;
	width: 100%;
	margin: 0;
	display: block;
}

app-membership-home, app-membership-signup {
	position: relative;
	top: 50%;
	width: 60%;
	margin: auto;
	display: block;

	transform: translateY(-50%);
}

.md-overlay-pane {
	width: 600px;
}

.fb-comments > span, .fb-comments iframe {
	width: 300px !important;
}

md-tab-header {
	margin-bottom: 2.5%;
}

.mat-tab-label {
	font-size: 16px !important;
}

.mat-tab-label[aria-selected="true"] {
	opacity: 1 !important;
	background-color: rgba(197, 202, 233, .3);
}

@media screen and (max-width: 950px) {
	app-membership-home, app-membership-signup {
		position: static;
		top: 0;
		width: 95%;
		margin: auto;
		display: block;

		transform: none;
	}
	.only-responsive {
		display: none;
	}
}
